body {
  padding: 4em;
  font-size: 12pt;
}

// div {
//   border: 2em solid transparent;
//   border-left-color: var(--blue);
//   height: 0px;
//   width: 0;
// }

div {
  width: 20em;
  height: 4em;
  background-color: var(--blue);
  position: relative;

  &::before {
    content: '';
    display: block;
    border: 2em solid var(--blue);
    border-left-color: transparent;
    border-right-color: transparent;
    border-right-width: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: -2em;
  }

  &::after {
    content: '';
    display: block;
    border: 2em solid var(--blue);
    border-left-color: transparent;
    border-right-color: transparent;
    border-left-width: 0;
    width: 0;
    height: 0;
    position: absolute;
    right: -2em;
  }
}
