body {
  min-height: 100vh;
  background: linear-gradient(to right, #39d1ff, transparent),
    linear-gradient(to left, #32ffff, transparent),
    linear-gradient(to top, #f157ff, transparent);
  background-blend-mode: screen;
  margin: 0;
  padding: var(--gutter);
  display: flex;
  flex-direction: column;
}

.app {
  background-color: rgba(#fff, 0.5);
  flex: 1;
  border-radius: 1.5rem;
  padding: var(--gutter);
  display: flex;
}

.primary-nav {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem 2rem 0;

  a.primary-nav-item {
    color: var(--textColor);
    font-weight: bold;
    display: block;
    padding: var(--gutter) var(--gutterLarge);
    &.active {
      color: var(--purple);
    }
  }
}

.primary-content {
  flex: 1;
  background-color: rgba(#fff, 0.9);
  border-radius: 1.3rem;
  box-shadow: 0 0 50px -40px #000;
  display: flex;

  main {
    border-radius: 1.3rem;
    background-color: #fff;
    box-shadow: 0 0 50px -30px #000;
    flex: 1;
    padding: var(--gutter) var(--gutterLarge);
  }

  > aside {
    width: 350px;
    padding: var(--gutter);
  }
}
