body {
  background-color: #fafafa;
  padding: 3rem;
}

.dog-card {
  background-color: #fff;
  border-radius: 0.5em;
  margin-bottom: 2em;
  box-shadow: 0 0 30px -20px #000, 0 0 5px -4px #000;
}

.dog-card .dog-attributes {
  padding: 0;
  list-style: none;
}

/**
 * See if you can design three versions of dog cards.
 * Write all the CSS below this without changing 
 * the stuff above
 */

// use var(--blue); if needed

.card-1 {
  width: 400px;
  text-align: center;
  padding: 1rem;
  img {
    display: inline-block;
    object-fit: cover;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 0.5em solid var(--blue);
    margin-top: -3em;
  }
  .dog-attributes {
    font-size: 0.8em;
    display: flex;
    li {
      flex: 1;
      text-align: left;
    }

    li:first-child {
      flex-basis: 4em;
    }
    span {
      display: block;

      &:first-child {
        font-weight: bold;
      }
    }
  }
  a.button {
    display: block;
    margin: 0 -1rem -1rem -1rem;
    border-radius: 0.5em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.card-2 {
  width: 1000px;
  padding: 1em;
  overflow: hidden;

  img {
    display: block;
    object-fit: cover;
    height: 250px;
    margin: -1em 0 -1em -1em;
  }

  .dog-attributes {
    font-size: 0.8em;
    display: flex;
    li {
      flex: 1;
      text-align: left;
    }

    li:first-child {
      flex-basis: 4em;
    }
    span {
      display: block;

      &:first-child {
        font-weight: bold;
      }
    }
  }
}

.card-3 {
  width: 600px;
  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
}
