@mixin buttonReset {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1em;
  outline: 0;
  display: inline-block;
  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    outline: 0;
  }
}

button,
.button {
  @include buttonReset;
  cursor: pointer;
}

// Anchor Looking
button {
  color: var(--anchorColor);
  font-weight: 300;
  &:hover,
  &:focus {
    outline: none;
  }
}

// Button Looking
.button {
  font-weight: 500;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background-color: var(--blue);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  text-decoration: none;
  text-align: center;
  padding: 0.8em 1.2em;

  &:hover,
  &:focus {
    background-color: var(--purpleBlue);
    text-decoration: none;
  }

  &.button-outline {
    background-color: transparent;
    border-color: var(--blue);
    color: var(--blue);
  }

  &:not(.button-outline) {
    &:focus {
      color: #fff;
      background-color: var(--pink);
    }
  }
}
