.workshop-courses li {
  margin-bottom: 0.3rem;

  a {
    display: inline-block;
    padding: 0 0.3rem;
    margin-right: 0.3rem;
    background-color: #e4f6ff;
    transform: skew(-5deg);
    border-radius: 4px;
  }
}
