// Resets

::placeholder {
  color: #a2b0b8;
  font-style: italic;
  font-weight: 300;
  // font-size: 0.7em;
}

input:focus::placeholder {
  color: lighten(#a2b0b8, 15%);
}

/* Prevents Chrome's yellow background on autofill
  https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}

// Fields

.form-field {
  display: block;
  width: 100%;
  padding: 0.5em 0.7em;
  border: 1px solid #a2b0b8;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--blue3);
  border-radius: 3px;

  &:focus {
    outline: none;
    border-color: var(--blue3);
  }
}

textarea.form-field {
  resize: vertical;
  max-height: 300px;
}

select.form-field {
  appearance: none;
  display: inline-block;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+');
  background-position: 100% center;
  background-repeat: no-repeat;
  padding-right: 1.5em;
}

// Field Wraps

.form-field-wrap {
  > label.form-field-label {
    font-weight: 500;
    font-size: 0.7rem;
    margin-top: 0.3rem;
  }

  > label.form-field-label + .form-field-input {
    margin-top: 0.3rem;
  }

  &.required > label.form-field-label {
    position: relative;

    &::after {
      content: '•';
      position: absolute;
      right: -0.7em;
      top: -0.15em;
      color: var(--blue3);
      font-size: 1.4em;
    }
  }
}
