body {
  margin: 0;
}

.website {
  background-color: #333;
  height: 200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    background-color: blue;
    padding: 2em;
  }

  main {
    background-color: green;
    flex: 1;
  }

  footer {
    background-color: blue;
  }
}
