.text-small {
  font-size: 0.8rem;
}

.text-xsmall {
  font-size: 0.6rem;
}

.text-large {
  font-size: 1.5rem;
}

.text-xlarge {
  font-size: 3rem;
}

.text-light {
  color: var(--textColorLight);
}

.text-dark {
  color: var(--textColor);
}

.text-inherit {
  color: inherit;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
