body {
  background-color: #fafafa;
  padding: 3rem;
}

.dog {
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 30px -20px #000, 0 0 5px -4px #000;
}

.dog .dog-attributes {
  padding: 0;
  list-style: none;
}

.dog .dog-attributes li {
  background-color: #222;
  color: #fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
  display: inline-block;
}

a.button {
  background-color: #35b2ff;
  color: #fff;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.heading.size-1 {
  font-size: 1.5rem;
}

.heading.size-2 {
  font-size: 1.3rem;
}

.heading.size-3 {
  font-size: 1.1rem;
}

.dog-attribute {
  background-color: blue;
}
