.credit-card {
  aspect-ratio: 1 / 0.6;
  flex: 1;
  border-radius: 1rem;
  background-blend-mode: screen;
  background: linear-gradient(to right, #39d1ff, transparent),
    linear-gradient(to left, #32ffff, transparent),
    linear-gradient(to top, #f157ff, transparent);
}
